
.company_profile {
    font-weight: bold; 
    text-indent: 0rem !important;
}
.company_profile>span {
	font-weight: normal; 
}
.h4_line {
	border-bottom:1px solid #dddddd;
}
.txt_wrap h4 i {
    display: block;
    width: 8rem;
    height: 7rem;
    background: url("my/logo.png") no-repeat center;
    background-size: 8rem;
    margin: 0 auto;
}
.txt_wrap .p_text {
    margin-top: 0rem;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    color: #666;
    letter-spacing: 1px;
}
.txt_wrap h2 i {
    display: block;
    width: 25rem;
    height: 13rem;
    background: url("my/picture.jpg") no-repeat center;
    background-size: 25rem;
    margin: 0 auto;
}
