/* .pos_top {position:relative;top:3.2rem;}
.register_nav {position: fixed;top:0;left:0;z-index:999;}
.custome_type {width:100%;height:auto;position: fixed;z-index:10;}
.custom_list,.message_context {position:relative;top:6.4rem;}
.common_pos {position: fixed;top:0;left:0;z-index:999;}  */